body {
  background-image: url('/images/white_background.png');
  background-repeat: repeat;
}

img {
  margin-left: auto;
  margin-right: auto;
}

.trashbutton {
  cursor: pointer;
}

.centered_block {
  max-width: 760px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.list_factures {
  min-width: 60%!important;
}

.redmenuitem {
  background-color: #db2828!important;
  color: white!important;
}

.smallerbutton {
  font-size: 0.8rem!important;
  margin-top: 3px!important;
  margin-bottom: 3px!important;
}

.text.white {
  color: #FFFFFF;
}
.text.grey {
  color: #CCCCCC;
}
.text.black {
  color: #1B1C1D;
}
.text.yellow {
  color: #F2C61F;
}
.text.teal {
  color: #00B5AD;
}
.text.red {
  color: #D95C5C;
}
.text.purple {
  color: #564F8A;
}
.text.pink {
  color: #D9499A;
}
.text.orange {
  color: #E07B53;
}
.text.green {
  color: #5BBD72;
}
.text.blue {
  color: #3B83C0;
}
