body {
  background-image: url('/images/white_background.png');
  background-repeat: repeat;
}

img {
  margin-left: auto;
  margin-right: auto;
}

.trashbutton {
  cursor: pointer;
}

.centered_block {
  max-width: 760px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.list_factures {
  min-width: 60%!important;
}

.redmenuitem {
  background-color: #db2828!important;
  color: white!important;
}

.smallerbutton {
  font-size: 0.8rem!important;
  margin-top: 3px!important;
  margin-bottom: 3px!important;
}
